# List using Loop

In [1]:
my_list = ['apple','banana','cherry','watermelon','grapes']

my_list

['apple', 'banana', 'cherry', 'watermelon', 'grapes']

In [2]:
for i in my_list:
    print(i)

apple
banana
cherry
watermelon
grapes

In [ ]:
for i in my_list[range 0 to 4]
my_list =4

i = 5 -> i <=4 ->

### Loop through Indexed Numbers

In [3]:
my_list = ['apple','banana','cherry','watermelon','grapes']

for i in range(len(my_list)):
    print(my_list[i])

apple
banana
cherry
watermelon
grapes

In [5]:
my_list = ['apple','banana','cherry','watermelon','grapes']

for i in range(len(my_list)):
    print(i)

0
1
2
3
4

In [ ]:
my_list = 4
i = 0

In [4]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

## Looping using List Compreshension

In [6]:
my_list = ['apple','banana','cherry','watermelon','grapes']

for i in range(len(my_list)):
    print(my_list[i])

apple
banana
cherry
watermelon
grapes

In [7]:
my_list = ['apple','banana','cherry','watermelon','grapes']

[print(my_list) for i in my_list]

['apple', 'banana', 'cherry', 'watermelon', 'grapes']
['apple', 'banana', 'cherry', 'watermelon', 'grapes']
['apple', 'banana', 'cherry', 'watermelon', 'grapes']
['apple', 'banana', 'cherry', 'watermelon', 'grapes']
['apple', 'banana', 'cherry', 'watermelon', 'grapes']

[None, None, None, None, None]

In [8]:
my_list = ['apple','banana','cherry','watermelon','grapes']

[print(i) for i in my_list]

apple
banana
cherry
watermelon
grapes

[None, None, None, None, None]

In [9]:
my_list = ['apple','banana','cherry','watermelon','grapes']

my_list_1 = []

for i in my_list:
    if "a" in my_list:
        my_list_1.append(i)
        
print(my_list_1)

[]

In [10]:
my_list = ['apple','banana','cherry','watermelon','grapes']

my_list_1 = []

for i in my_list:
    if "a" in i:
        my_list_1.append(i)
        
print(my_list_1)

['apple', 'banana', 'watermelon', 'grapes']

In [11]:
my_list = ['apple','banana','cherry','watermelon','grapes']
print(my_list)

['apple', 'banana', 'cherry', 'watermelon', 'grapes']

In [12]:
for i in my_list:
    print(i)

apple
banana
cherry
watermelon
grapes

In [ ]:
my_list = 4
i = 5

for (i =0; i <= 4; i++) i =0 i = 4 + 1

In [14]:
my_list = ['apple','banana','cherry','watermelon','grapes']

my_list_1 = []

for i in my_list:
    if "a" in i:
        my_list_1.append(i)
        
print(my_list_1)

['apple', 'banana', 'watermelon', 'grapes']

In [13]:
my_list = ['apple','banana','cherry','watermelon','grapes']

my_list_1 = [i for i in my_list if "b" in i]
print(my_list_1)

['banana']

### syntax - my_list_1 = [expression for item in iterable if condition == True]

In [15]:
my_list_1 = [i for i in range(20)]

In [16]:
my_list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [17]:
my_list_1 = [i for i in range(1, 21)]

In [18]:
my_list_1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [19]:
for i in range(1,21):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [20]:
my_num = 12

for i in range(1,11):
    print(my_num, 'X', i, '=', my_num * i)

12 X 1 = 12
12 X 2 = 24
12 X 3 = 36
12 X 4 = 48
12 X 5 = 60
12 X 6 = 72
12 X 7 = 84
12 X 8 = 96
12 X 9 = 108
12 X 10 = 120

In [21]:
my_num = 12

for i in range(1,11):
    print(my_num * i)

12
24
36
48
60
72
84
96
108
120

In [25]:
my_num = int(input("Enter Number to calculate Multiplication Table: "))

for i in range(my_num):
    print(my_num * i)

Enter Number to calculate Multiplication Table: 15
0
15
30
45
60
75
90
105
120
135
150
165
180
195
210

In [26]:
my_num = int(input("Enter Number to calculate Multiplication Table: "))

for i in range(1, my_num + 1):
    print(my_num * i)

Enter Number to calculate Multiplication Table: 4
4
8
12
16

In [38]:
my_num = int(input("Enter Number to calculate Multiplication Table: "))

for i in range(1,11):
    print(my_num, "*",i, "=", my_num * i)

Enter Number to calculate Multiplication Table: 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80