# Set

In [2]:
my_set = {}
print(my_set)
print(type(my_set))

{}
<class 'dict'>

In [4]:
my_set = {'shyam'}
print(my_set)
print(type(my_set))

{'shyam'}
<class 'set'>

1. Sets are used to store multiple elements(items) in a single variable
2. Sets are used to store collection of data
3. A sets is a collection of data which is unordered, unchangeble, and unindexed
4. **Sets items are unchangeble, but you can remove items and new items**
5. **Sets are unordered, so you cannot be sure in which order the items will appear**
6. In sets **Duplicate elements are not allowed**
7. Once set is created you cannot change its items (elements), but remove items and add new items

**Duplicate values are not allowed in Set**

In [10]:
my_set = {"apple",'mango','cherry','banana','pineapple','watermelon','apple','mango','banana'}
print(my_set)

{'mango', 'cherry', 'pineapple', 'watermelon', 'banana', 'apple'}

In [5]:
my_set = {"apple",'mango','cherry','banana','pineapple','watermelon'}
print(my_set)

{'mango', 'cherry', 'pineapple', 'watermelon', 'banana', 'apple'}

In [6]:
my_set = {"apple",'mango','cherry','banana','pineapple','watermelon','apple'}
print(my_set)

{'mango', 'cherry', 'pineapple', 'watermelon', 'banana', 'apple'}

**Note: The value True and 1 are considered the same value in sets, and are treated as duplicate**

In [8]:
my_set = {"apple",'mango','cherry','banana','pineapple','watermelon','apple',True, 1, 2}
print(my_set)

{True, 2, 'cherry', 'pineapple', 'apple', 'mango', 'watermelon', 'banana'}

In [9]:
my_set = {"apple",'mango','cherry','banana','pineapple','watermelon','apple', 1,True, 2}
print(my_set)

{1, 2, 'cherry', 'pineapple', 'apple', 'mango', 'watermelon', 'banana'}

In [11]:
my_set = {"apple",'mango','cherry','banana','pineapple','watermelon','apple', 1,True, 2}
print(my_set)

{1, 2, 'cherry', 'pineapple', 'apple', 'mango', 'watermelon', 'banana'}

**Note: The value False and 0 are considered the same value in sets, and are treated as duplicate**

In [12]:
my_set = {"apple",'mango','cherry','banana','pineapple','watermelon', False, 0, 1, 2}
print(my_set)

{False, 1, 2, 'cherry', 'pineapple', 'apple', 'mango', 'watermelon', 'banana'}

### Length of a Set

In [13]:
my_set = {"apple",'mango','cherry','banana','pineapple','watermelon'}
print(my_set)

print(len(my_set))

{'mango', 'cherry', 'pineapple', 'watermelon', 'banana', 'apple'}
6

### Data Types

In [15]:
my_set_1 = {"apple",'mango','cherry','banana','pineapple','watermelon'}
my_set_2 = {True,False, False,True}
my_set_3 = {1, 5, 6 , 7 , 5, 6}


print(my_set_1)
print(my_set_2)
print(my_set_3)

print(type(my_set_1))
print(type(my_set_2))
print(type(my_set_3))

{'mango', 'cherry', 'pineapple', 'watermelon', 'banana', 'apple'}
{False, True}
{1, 5, 6, 7}
<class 'set'>
<class 'set'>
<class 'set'>

In [16]:
my_set = {"apple",'mango','cherry',86,'banana','pineapple','watermelon', True, 34}

In [17]:
print(my_set)

{True, 34, 'cherry', 'pineapple', 'apple', 'mango', 86, 'watermelon', 'banana'}

In [18]:
print(type(my_set))

<class 'set'>

In [20]:
# help(my_set)

In [21]:
my_set = {"apple",'mango','cherry','banana','pineapple','watermelon'}

for i in my_set:
    print(i)

mango
cherry
pineapple
watermelon
banana
apple

In [22]:
my_set = {"apple",'mango','cherry','banana','pineapple','watermelon'}

print('apple' in my_set)

True

In [25]:
my_set = {"apple",'mango','cherry','banana','pineapple','watermelon'}

if 'Apple' in my_set:
    print('Yes, element is present')
else:
    print("No, element is not present")

No, element is not present