# Data Types

### There are 7 diffrent data types

1. Text Type:
    1. String [str]
    2. Example:
        1. "Shyam Ambilkar", 'Rohen Gandhi', '12'
        
2. Numeric Type:
    1. Integer [int] Example- 10,20,30
    2. Float [float] Example - 10.15, 45.23
    3. Complex [complex] Example - i6,
3. Sequence Type:
    1. List [list] Example - my_list = ['Tushar','Ambika','Shubham','Rohen']
    2. Tuple [tuple] Example - my_tuple = ('Tushar','Ambika','Shubham','Rohen')
    3. Range [range] Example - range(5)
4. Mapping Type:
    1. Dictionary [dict] Example - my_dict = {}
5. Set Types:
    1. Set [set]
    2. Frozenset [frozenset]
6. Boolean Types:
    1. Boolean [bool]
7. Binary Types:
    1. Bytes [bytes]
    2. Bytearrry [bytearray]
    3. Memoryview [memoryview]

### 1. Text Type - String [str]

In [3]:
my_str = "Welcome to Python & Data Science Class"
print(my_str)
print(type(my_str))

Welcome to Python & Data Science Class
<class 'str'>

In [4]:
my_str = 'Welcome to Python & Data Science Class'
print(my_str)
print(type(my_str))

Welcome to Python & Data Science Class
<class 'str'>

In [5]:
my_str = """ Welcome to Python & Data Science Class Welcome to 
Python & Data Science Class 
Welcome to Python & Data Science Class"""

print(my_str)
print(type(my_str))

 Welcome to Python & Data Science Class Welcome to
Python & Data Science Class
Welcome to Python & Data Science Class
<class 'str'>

In [7]:
my_str = '''Welcome to Python & Data Science Class Welcome to 
Python & Data Science Class 
Welcome to Python & Data Science Class '''
print(my_str)
print(type(my_str))

Welcome to Python & Data Science Class Welcome to
Python & Data Science Class
Welcome to Python & Data Science Class
<class 'str'>

In [6]:
my_str = "Welcome to Python & Data Science Class Welcome to 
Python & Data Science Class 
Welcome to Python & Data Science Class"

print(my_str)

SyntaxError: unterminated string literal (detected at line 1) (3797874677.py, line 1)

## 2. Numeric

### 1. Integer [int]

In [8]:
my_num = 100
print(my_num)
print(type(my_num))

100
<class 'int'>

### 2. Float

In [9]:
my_num = 100.45
print(my_num)
print(type(my_num))

100.45
<class 'float'>

In [10]:
my_num = 100.
print(my_num)
print(type(my_num))

100.0
<class 'float'>

In [11]:
my_num = float(100)
print(my_num)
print(type(my_num))

100.0
<class 'float'>

In [13]:
my_num = int(100.85)
print(my_num)
print(type(my_num))

100
<class 'int'>

### 3. Complex

In [14]:
my_num = 4j
print(my_num)
print(type(my_num))

4j
<class 'complex'>

In [15]:
my_num = int(4j)
print(my_num)
print(type(my_num))

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

In [16]:
my_num = complex(100)
print(my_num)
print(type(my_num))

(100+0j)
<class 'complex'>

In [17]:
my_num = complex(100.89)
print(my_num)
print(type(my_num))

(100.89+0j)
<class 'complex'>

# Type Conversion

In [23]:
my_num_1 = 60 #Integer Number
my_num_2 = 50.45 # Float Number
my_num_3 = 1j # Complex Number

# Convert Integer Number to float or complex
op_1 = float(my_num_1)
op_2 = complex(my_num_1)

#Convert Float Number to Integer or Complex
op_3 = int(my_num_2)
op_4 = complex(my_num_2)

print(op_1,op_2)
print(op_2)

print(op_3)
print(op_4)

print(type(op_1))
print(type(op_2))
print(type(op_3))
print(type(op_4))

60.0 (60+0j)
(60+0j)
50
(50.45+0j)
<class 'float'>
<class 'complex'>
<class 'int'>
<class 'complex'>

#### Note - You cannot convert complex number into another number type

In [24]:
import random

In [25]:
print(random.randrange(1, 11))

3

In [27]:
print(random.randint(1, 10))

6

In [30]:
print(random.random())

0.10462208341298729

In [31]:
random.random()

0.07333455385731202

In [34]:
my_list = ['apple','mango','cherry','blackcurrent','banana']

my_list[1:2]

['mango']

In [38]:
my_var = 'apple'

my_var[:]

'apple'