# Python Function

1. A Function is block of code which only runs when it is called
2. You can pass data, known as parameter, into function
3. A function can return data as result
4. def keyword is used to create function
5. Synatax - def function_name():
6. To call function, use the function name followed by paranthesis

### 1. Creating function

In [1]:
def my_function():
    print("Welcome to Python Function..!")

### 2. Calling Function

In [2]:
def my_function():
    print("Welcome to Python Function..!")
my_function()

Welcome to Python Function..!

In [3]:
def my_funct():
    print('Welcome to Python Programming...!')
    print("Welcome to Python Function..!")
    
my_funct()

Welcome to Python Programming...!
Welcome to Python Function..!

### 3. Arguments

1. Information can be passed into functions as arguments
2. Arguments are specified after the function name, inside the paranthesis.
3. You can add as many arguments as you want,just separate them with comma

In [8]:
def my_function(fname,lname):
    print(fname +" "+ lname)
    
my_function("Shyam","Ambilkar")
my_function("Tushar","Pokale")

Shyam Ambilkar
Tushar Pokale

In [10]:
def my_function(fname,lname):
    print(fname +" "+ lname)
    
my_function("Shyam","")

Shyam

In [11]:
def my_function(fname,lname):
    print(fname +" "+ lname)
    
my_function("Shyam",)

TypeError: my_function() missing 1 required positional argument: 'lname'

In [12]:
def my_function(fname,lname):
    print(fname +" "+ lname)
    
my_function()

TypeError: my_function() missing 2 required positional arguments: 'fname' and 'lname'

### Parameters or Arguments ?

1. The terms parameter and arguments can be used for the same thing: Information that passed into a function
2. From a Function perspective:
    1. A parameter is variable listed inside the paranthesis in the **function definition.**
    2. An Argument is the value that is sent to the function when it is called

In [13]:
def my_function(first_name, last_name): #Paranthesis
    print(first_name + " "+ last_name)
    
my_function("Shyam","Ambilkar")# Arguments

Shyam Ambilkar

In [14]:
def my_function(first_name): #Parameter
    print(first_name + " "+ last_name)
    
my_function("Shyam","Ambilkar")# Arguments

TypeError: my_function() takes 1 positional argument but 2 were given

## Arbitary Arguments, *args

1. If you do not know how many arguments that will be passed into function.
2. Add * before the parameter name in the function definition
3. This way the function will receive a tuple of arguments, and can access item accordingly

In [16]:
def my_function(first_name):
    print("Student First name are: ",first_name[2])
    
my_function("Tushar","Vishal","Akash","Ambika","Pranali")

TypeError: my_function() takes 1 positional argument but 5 were given

In [15]:
def my_function(*first_name):
    print("Student First name are: ",first_name[2])
    
my_function("Tushar","Vishal","Akash","Ambika","Pranali")

Student First name are:  Akash

In [17]:
def my_function(*first_name):
    print("Student First name are: ",first_name)
    
my_function("Tushar","Vishal","Akash","Ambika","Pranali")

Student First name are:  ('Tushar', 'Vishal', 'Akash', 'Ambika', 'Pranali')

In [18]:
def my_function(*first_name):
    print("Student First name are: ",first_name[:])
    
my_function("Tushar","Vishal","Akash","Ambika","Pranali")

Student First name are:  ('Tushar', 'Vishal', 'Akash', 'Ambika', 'Pranali')

In [19]:
def my_function(*first_name):
    print("Student First name are: ",first_name[:3])
    
my_function("Tushar","Vishal","Akash","Ambika","Pranali")

Student First name are:  ('Tushar', 'Vishal', 'Akash')

In [20]:
def my_function(*first_name):
    print("Student First name are: ",first_name[1:3])
    
my_function("Tushar","Vishal","Akash","Ambika","Pranali")

Student First name are:  ('Vishal', 'Akash')

In [22]:
def my_function(*first_name):
    print("Student First name are: ",first_name[1::2])
    
my_function("Tushar","Vishal","Akash","Ambika","Pranali")

Student First name are:  ('Vishal', 'Ambika')