## K-Means Clustering

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('Live.csv')

In [4]:
df.head()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,status_type_link,status_type_photo,status_type_status,status_type_video
0,0.112314,0.024393,0.076519,0.091720,0.140030,0.010791,0.006369,0.019608,0.0,0.0,0.0,0.0,1.0
1,0.031847,0.000000,0.000000,0.031847,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0,0.0
2,0.048195,0.011243,0.016647,0.043312,0.031963,0.003597,0.006369,0.000000,0.0,0.0,0.0,0.0,1.0
3,0.023567,0.000000,0.000000,0.023567,0.000000,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0,0.0
4,0.045223,0.000000,0.000000,0.043312,0.013699,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0,0.0

In [5]:
df.tail()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,status_type_link,status_type_photo,status_type_status,status_type_video
7045,0.018896,0.000000,0.000000,0.018896,0.000000,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.0
7046,0.003397,0.000000,0.000000,0.002972,0.001522,0.0,0.006369,0.0,0.0,0.0,1.0,0.0,0.0
7047,0.000425,0.000000,0.000000,0.000212,0.001522,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.0
7048,0.074522,0.000572,0.006425,0.074098,0.003044,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.0
7049,0.003609,0.000000,0.000000,0.003609,0.000000,0.0,0.000000,0.0,0.0,0.0,1.0,0.0,0.0

In [6]:
df.shape

(7050, 13)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   num_reactions       7050 non-null   float64
 1   num_comments        7050 non-null   float64
 2   num_shares          7050 non-null   float64
 3   num_likes           7050 non-null   float64
 4   num_loves           7050 non-null   float64
 5   num_wows            7050 non-null   float64
 6   num_hahas           7050 non-null   float64
 7   num_sads            7050 non-null   float64
 8   num_angrys          7050 non-null   float64
 9   status_type_link    7050 non-null   float64
 10  status_type_photo   7050 non-null   float64
 11  status_type_status  7050 non-null   float64
 12  status_type_video   7050 non-null   float64
dtypes: float64(13)
memory usage: 716.1 KB

In [8]:
df.isnull().sum()

num_reactions         0
num_comments          0
num_shares            0
num_likes             0
num_loves             0
num_wows              0
num_hahas             0
num_sads              0
num_angrys            0
status_type_link      0
status_type_photo     0
status_type_status    0
status_type_video     0
dtype: int64

In [9]:
df.notnull().sum()

num_reactions         7050
num_comments          7050
num_shares            7050
num_likes             7050
num_loves             7050
num_wows              7050
num_hahas             7050
num_sads              7050
num_angrys            7050
status_type_link      7050
status_type_photo     7050
status_type_status    7050
status_type_video     7050
dtype: int64

In [10]:
df.describe()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,status_type_link,status_type_photo,status_type_status,status_type_video
count,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000
mean,0.048857,0.010689,0.011689,0.045657,0.019374,0.004638,0.004436,0.004778,0.003651,0.008936,0.608227,0.051773,0.331064
std,0.098222,0.042384,0.038435,0.095429,0.060842,0.031366,0.025205,0.031317,0.023446,0.094115,0.488181,0.221584,0.470629
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.003609,0.000000,0.000000,0.003609,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.012633,0.000191,0.000000,0.012314,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
75%,0.046497,0.001096,0.001168,0.039225,0.004566,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [11]:
df['status_type_status'].unique()

array([0., 1.])

In [12]:
df.drop(['status_type_link','status_type_photo','status_type_video'], inplace=True, axis=1)

In [13]:
df.head()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,status_type_status
0,0.112314,0.024393,0.076519,0.091720,0.140030,0.010791,0.006369,0.019608,0.0,0.0
1,0.031847,0.000000,0.000000,0.031847,0.000000,0.000000,0.000000,0.000000,0.0,0.0
2,0.048195,0.011243,0.016647,0.043312,0.031963,0.003597,0.006369,0.000000,0.0,0.0
3,0.023567,0.000000,0.000000,0.023567,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4,0.045223,0.000000,0.000000,0.043312,0.013699,0.000000,0.000000,0.000000,0.0,0.0

In [14]:
x = df.drop(['status_type_status'], axis=1)

In [15]:
y = df['status_type_status']

In [16]:
x.head()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
0,0.112314,0.024393,0.076519,0.091720,0.140030,0.010791,0.006369,0.019608,0.0
1,0.031847,0.000000,0.000000,0.031847,0.000000,0.000000,0.000000,0.000000,0.0
2,0.048195,0.011243,0.016647,0.043312,0.031963,0.003597,0.006369,0.000000,0.0
3,0.023567,0.000000,0.000000,0.023567,0.000000,0.000000,0.000000,0.000000,0.0
4,0.045223,0.000000,0.000000,0.043312,0.013699,0.000000,0.000000,0.000000,0.0

In [17]:
y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: status_type_status, dtype: float64

In [18]:
# from sklearn.preprocessing import LabelEncoder

In [19]:
# le = LabelEncoder()

In [20]:
# df['status_type_status'] = le.fit_transform(df['status_type_status'])

In [21]:
# y = le.transform(y)

In [22]:
# df.info()

In [23]:
y.head()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: status_type_status, dtype: float64

In [24]:
from sklearn.cluster import KMeans

In [25]:
kmeans = KMeans(n_clusters=2, random_state=0)

In [26]:
kmeans.fit(x)

KMeans(n_clusters=2, random_state=0)

In [27]:
kmeans.cluster_centers_

array([[0.02483047, 0.00932759, 0.00889636, 0.02254048, 0.01423501,
        0.00215728, 0.00331136, 0.00441161, 0.00279261],
       [0.35566655, 0.02806954, 0.04734731, 0.34084022, 0.08499512,
        0.03631548, 0.01879727, 0.00945925, 0.01461694]])

In [28]:
kmeans.inertia_

99.50082638379907

In [29]:
labels = kmeans.labels_

In [30]:
correct_labels = sum(y == labels)

In [34]:
print("Result: %d out of %d samples were correctly predicted: " % (correct_labels, y.size))

Result: 6333 out of 7050 samples were correctly predicted:

In [35]:
print("Accuracy Score: {0:0.2f}".format(correct_labels/y.size))

Accuracy Score: 0.90

In [41]:
cs = []
for i in range(1,11):
    kmeans = KMeans(n_clusters=i, init='k-means++', max_iter=300, n_init=10,random_state=0)
    kmeans.fit(x)
    cs.append(kmeans.inertia_)
#     plt.plot(range(1, 11), cs)
#     plt.title('The Elbow Method')
#     plt.xlabel("The Number of Clusters")
#     plt.ylabel('CS')
#     plt.show()

In [42]:
cs

[203.56912885763114,
 99.50082638379907,
 76.02049833449252,
 61.88900046341104,
 50.63685906736471,
 45.21048803307164,
 40.30723813558508,
 36.733946630550925,
 33.4003347318251,
 30.027311106086216]

In [49]:
kmeans = KMeans(n_clusters=2, random_state=0)

kmeans.fit(x)
labels = kmeans.labels_

correct_labels = sum(y == labels)
print("Result: %d out of %d samples were correctly predicted: " % (correct_labels, y.size))
print("Accuracy Score: {0:0.2f}".format(correct_labels/y.size))

Result: 6333 out of 7050 samples were correctly predicted:
Accuracy Score: 0.90

In [50]:
import pickle

In [52]:
pickle_file = pickle.dumps(df)

In [53]:
pf = pickle.loads(pickle_file)