# Python Tuple

1. Tuples are used to store multiple elements in single variable
2. Tuples are used store collection of data
3. Tuples are used to store **heterogeneous** of data but commonly use **homogeneous data**
4. Tuples is a collection which is ordered and unchangeble
5. Tuples are written with **round paranthesis**
6. Tuples used paranthesis, whereas list are used square brackets
7. Sequence value of tuple can be any type and indexing
8. Tuple are created by placing sequence of value separated by comma
9. Creation of Python without use of paranthesis is known as tuple packing.
10. Tuple are used indexing duplicate elements allowed in tuple
11. Tuple elements are **immutable**

### 1. Create Tuple

In [1]:
my_tuple = ("apple",'mango','cherry',10,20,30,'banana',45.45,3.12)

In [2]:
my_tuple

('apple', 'mango', 'cherry', 10, 20, 30, 'banana', 45.45, 3.12)

In [3]:
type(my_tuple)

tuple

### 2. Tuple Items

1. Tuple items are ordered, unchangeble, and allow duplicate elements
2. Tuple are indexed, first item has indexed position[0], second elements indexed positon [1].....

In [4]:
my_tuple = ("apple",'mango','cherry','apple','mango')

In [5]:
my_tuple

('apple', 'mango', 'cherry', 'apple', 'mango')

In [6]:
my_tuple[0]

'apple'

In [7]:
my_tuple[3]

'apple'

3. Ordered:
    1. Tuple are ordered, that means item have a defined ordered that order will not change
    
4. Unchangeble(Immutable):
    1. Tuple are unchangeble, that means we can not changge , add, or remove items in tuple after its creation
    
5. Allow Duplicates:
    1. Tuples are indexed, tuple can have items with same value
6. Tuple length:
    1. how many elements in the tuple
7. Creating a Tuple with single elements:
    1. my_tuple = ("apple")
8. Tuple items with DataTypes
9. Tuple as Constructor
10. Access Tuple Items:
    1. Negative Indexing
    2. Positive Indexing
    3. Range Indexing

### 1. Create Tuple

In [8]:
my_tuple = ("apple")

In [9]:
my_tuple

'apple'

In [10]:
type(my_tuple)

str

In [11]:
my_tuple = ("apple",)
my_tuple

('apple',)

In [12]:
type(my_tuple)

tuple

In [13]:
my_tuple = ("apple",'mango','cherry','apple','mango')
print(my_tuple)
print(type(my_tuple))

('apple', 'mango', 'cherry', 'apple', 'mango')
<class 'tuple'>

### 2. Tuple Elements

In [17]:
my_tuple = ("apple",'mango','cherry','apple','mango','apple')

In [18]:
my_tuple[1]

'mango'

In [19]:
my_tuple.count("apple")

3

### 3. Tuple Length

In [20]:
my_tuple = ("apple",'mango','cherry','apple','mango','apple')

In [21]:
my_tuple

('apple', 'mango', 'cherry', 'apple', 'mango', 'apple')

In [22]:
print(len(my_tuple))

6

### 4. Tuples Elements - Data Types

In [23]:
my_tuple_1 = ("apple",'mango','cherry','apple','mango','apple')
my_tuple_2 = (10,20,30,80,45,75)
my_tuple_3 = (78.23,45.23,78.78)
my_tuple_4 = (True, False, False, False, True)

In [24]:
print(my_tuple_1)
print(my_tuple_2)
print(my_tuple_3)
print(my_tuple_4)

('apple', 'mango', 'cherry', 'apple', 'mango', 'apple')
(10, 20, 30, 80, 45, 75)
(78.23, 45.23, 78.78)
(True, False, False, False, True)

In [26]:
print(type(my_tuple_1))
print(type(my_tuple_2))
print(type(my_tuple_3))
print(type(my_tuple_4))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

### 5. Access Elements:
    1. Positive
    2. Negative
    3. Range

### 1. Positive Indexing

In [29]:
my_tuple_1 = ("apple",'mango','cherry','watermelon','blackcurrent','apple', 'orange')

In [30]:
my_tuple_1

('apple', 'mango', 'cherry', 'watermelon', 'blackcurrent', 'apple', 'orange')

In [31]:
my_tuple_1[4]

'blackcurrent'

In [32]:
my_tuple_1[0]

'apple'

### 2. Negative Indexing

In [33]:
my_tuple_1 = ("apple",'mango','cherry','watermelon','blackcurrent','apple', 'orange')

In [34]:
my_tuple_1

('apple', 'mango', 'cherry', 'watermelon', 'blackcurrent', 'apple', 'orange')

In [35]:
my_tuple_1[-1]

'orange'

In [36]:
my_tuple_1[-3]

'blackcurrent'

### 3. Range Indexing:
    1. Positive Indexing
    2. Negative Indexing

#### 1. Positive Indexing

In [39]:
my_tuple = ("apple",'mango','cherry','watermelon','blackcurrent','apple', 'orange')

In [40]:
my_tuple

('apple', 'mango', 'cherry', 'watermelon', 'blackcurrent', 'apple', 'orange')

In [42]:
my_tuple[:]

('apple', 'mango', 'cherry', 'watermelon', 'blackcurrent', 'apple', 'orange')

In [43]:
my_tuple[1:]

('mango', 'cherry', 'watermelon', 'blackcurrent', 'apple', 'orange')

In [44]:
my_tuple[1:4]

('mango', 'cherry', 'watermelon')

### 2. Negative Indexing

In [45]:
my_tuple_1 = ("apple",'mango','cherry','watermelon','blackcurrent','apple', 'orange')

In [46]:
my_tuple[:-1]

('apple', 'mango', 'cherry', 'watermelon', 'blackcurrent', 'apple')

In [47]:
my_tuple[-1:]

('orange',)

In [49]:
my_tuple[-5:-1]

('cherry', 'watermelon', 'blackcurrent', 'apple')

## Tuples Updates

In [51]:
my_tuple = ("apple",'mango','cherry','watermelon','blackcurrent','apple', 'orange')

In [52]:
my_tuple[1] = 'papaya'

TypeError: 'tuple' object does not support item assignment

In [54]:
my_tuple = ("apple",'mango','cherry','watermelon','blackcurrent','apple', 'orange')

In [55]:
my_list = list(my_tuple)

In [56]:
my_list

['apple', 'mango', 'cherry', 'watermelon', 'blackcurrent', 'apple', 'orange']

In [58]:
print(type(my_list))
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

In [66]:
my_tuple_1 = ("apple",'mango','cherry','watermelon','blackcurrent','apple', 'orange')
print(type(my_tuple_1))

my_list = list(my_tuple_1)
print(type(my_list))
print("After converting tuple into list: ", my_list)

my_list[1] = 'papaya'
print("After Replacing List elements: ",my_list)
print(type(my_list))

my_tuple_1 = tuple(my_list)
print(my_tuple_1)

<class 'tuple'>
<class 'list'>
After converting tuple into list:  ['apple', 'mango', 'cherry', 'watermelon', 'blackcurrent', 'apple', 'orange']
After Replacing List elements:  ['apple', 'papaya', 'cherry', 'watermelon', 'blackcurrent', 'apple', 'orange']
<class 'list'>
('apple', 'papaya', 'cherry', 'watermelon', 'blackcurrent', 'apple', 'orange')

In [77]:
my_tuple = ("apple",'mango','cherry','watermelon','blackcurrent','apple', 'orange')
# my_tuple[1] = "papaya"

# Convert tuple into list by using list() function
my_list = list(my_tuple)

# Replace list elements 
my_list[1] = 'papaya'

print(my_tuple)
print(type(my_tuple))
print(my_list)
print(type(my_list))

# Convert list into tuple by using tuple() function

my_tuple = tuple(my_list)
print(my_tuple)
print(type(my_tuple))

('apple', 'mango', 'cherry', 'watermelon', 'blackcurrent', 'apple', 'orange')
<class 'tuple'>
['apple', 'papaya', 'cherry', 'watermelon', 'blackcurrent', 'apple', 'orange']
<class 'list'>
('apple', 'papaya', 'cherry', 'watermelon', 'blackcurrent', 'apple', 'orange')
<class 'tuple'>