# Identity Operators

1. is - Returns True if both variable are the same object.
2. is not - Return True if both variable are not the same object

### 1. Is Operators

In [1]:
x = ['mango','cherry','apple']
y = ['mango','cherry','apple']
z = x

print(x is z) # Return True because z is the same elements

True

In [2]:
print(x is y) # Return False because x is not the same object as y, if they have same elements [content]

False

In [3]:
print(x == y)

True

In [5]:
x = y

In [6]:
print(x is y)

True

## 2. Is not Operators

In [7]:
x = ['mango','cherry','apple']
y = ['mango','cherry','apple']
z = x

print(x is not z) # Returns false beacause z is the same object  as x

False

In [8]:
print(x is y) # Returns True beacause x is not the same object as y, even if they have same content

False

In [9]:
x != y

False

# Membership Operators

1. Membership operators are used to test if a sequence is present in an object.
2. To findout specific value in given range of elements or object 
3. There are two different types of membership operators:
    1. in
    2. not in

### 1. In Operators [in] - Return true if a sequence with the specified value is present in the object.

In [10]:
my_list = ['apple','mango','cherry','banana','blackcurrent','peru','grapes']

print( 'banana' in my_list)

True

In [11]:
print('Banana' in my_list)

False

In [12]:
if 'banana' in my_list:
    print("Element are present")
else:
    print("Not Present")

Element are present

In [13]:
if 'Banana' in my_list:
    print("Element are present")
else:
    print("Not Present")

Not Present

### 2. Not In Operators - Return True if a sequence with the specified value is not present in the object

In [15]:
my_list = ['apple','mango','cherry','banana','blackcurrent','peru','grapes']

print( 'banana' not in my_list)

False

In [17]:
my_list = ['apple','mango','cherry','banana','blackcurrent','peru','grapes']

print( 'Banana' not in my_list)

True

# String - Slicing

1. You can return range of characters by using slicing syntax
2. First character starts from 0

In [18]:
my_string = "Welcome to Python & Data Science Class"

In [19]:
my_string

'Welcome to Python & Data Science Class'

#### my_string[start_index : end_index]

In [22]:
my_string[0:7]

'Welcome'

In [23]:
my_string[3:7]

'come'

In [24]:
my_string[:]

'Welcome to Python & Data Science Class'

### starts with

In [25]:
my_string[11:]

'Python & Data Science Class'

### 2. ends with

In [26]:
my_string[:12]

'Welcome to P'

In [29]:
my_string = "Welcome to Python & Data Science Class.machine learning is best."

### 1. Capitalize Case

In [30]:
my_string.capitalize()

'Welcome to python & data science class. machine learning is best.'

### 2. Upper Case

In [31]:
my_string = "Welcome to Python & Data Science Class. machine learning is best."

my_string.upper()

'WELCOME TO PYTHON & DATA SCIENCE CLASS. MACHINE LEARNING IS BEST.'

## 3. Lower Case

In [32]:
help(my_string.capitalize)

Help on built-in function capitalize:

capitalize() method of builtins.str instance
    Return a capitalized version of the string.

    More specifically, make the first character have upper case and the rest lower
    case.

In [33]:
my_string = 'WELCOME TO PYTHON & DATA SCIENCE CLASS. MACHINE LEARNING IS BEST.'

my_string.lower()

'welcome to python & data science class. machine learning is best.'

In [34]:
help(my_string.lower)

Help on built-in function lower:

lower() method of builtins.str instance
    Return a copy of the string converted to lowercase.

## 3. Whitespace

In [35]:
my_string = '   WELCOME TO PYTHON & DATA SCIENCE CLASS.   MACHINE LEARNING IS BEST!   '

my_string.strip()

'WELCOME TO PYTHON & DATA SCIENCE CLASS.   MACHINE LEARNING IS BEST!'

In [36]:
help(my_string.strip)

Help on built-in function strip:

strip(chars=None, /) method of builtins.str instance
    Return a copy of the string with leading and trailing whitespace removed.

    If chars is given and not None, remove characters in chars instead.

In [42]:
print(my_string.center(1))

   WELCOME TO PYTHON & DATA SCIENCE CLASS.   MACHINE LEARNING IS BEST!

In [43]:
help(my_string.count)

Help on built-in function count:

count(...) method of builtins.str instance
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [45]:
my_string = "Welcome to Python & Data Science Class.machine learning is best."

my_string.replace("machine", "Deep Learning")

'Welcome to Python & Data Science Class.Deep Learning learning is best.'