## Access Elements

1. You can not access set elements by referring indexing or key
2. But you can access set elements by using loop or ask if a specified values is present in set

In [1]:
my_set = {'apple','mango','banana','cherry'}

for i in my_set:
    print(i)

cherry
mango
banana
apple

In [2]:
print("mango" in my_set)

True

In [3]:
if 'mango' in my_set:
    print("Yes,element is present in myset")
else:
    print("No, element is not present in myset")

Yes,element is present in myset

In [4]:
if 'Mango' in my_set:
    print("Yes,element is present in myset")
else:
    print("No, element is not present in myset")

No, element is not present in myset

**Note : Once set is created you can not change its items, but you add new items**

In [5]:
my_set = {'apple','mango','banana','cherry'}

my_set.add("watermelon")
print(my_set)

{'mango', 'cherry', 'banana', 'watermelon', 'apple'}

## Add Sets:
    1. To add items(elements) from another set into current set, use the update() method

In [6]:
my_set_1 = {'apple','mango','banana','cherry'}
my_set_2 = {'watermelon','grapes'}

my_set_1.update(my_set_2)

print(my_set_1)

{'cherry', 'grapes', 'banana', 'watermelon', 'mango', 'apple'}

In [7]:
my_set_1 = {'apple','mango','banana','cherry'}
my_set_2 = {'watermelon','grapes'}

my_set_2.update(my_set_1)

print(my_set_2)

{'cherry', 'banana', 'watermelon', 'mango', 'apple', 'grapes'}

In [8]:
my_set_1 = {'apple','mango','banana','cherry'}
my_set_2 = {'watermelon','grapes'}

my_set_3 = my_set_1.update(my_set_2)

print(my_set_3)

None

In [9]:
my_set_3 = {'apple','mango','banana','cherry'}
my_set_4 = {'watermelon','grapes'}

my_set_3.update(my_set_4)

print(my_set_3)

{'cherry', 'grapes', 'banana', 'watermelon', 'mango', 'apple'}

## Remove Elements from Set

1. To remove an elements(items) in set using remove() or discard() method

### 1. Remove (remove() method)

In [10]:
my_set = {'apple','mango','banana','cherry'}

my_set.remove('banana')
print(my_set)

{'cherry', 'mango', 'apple'}

**Note : If the elements(items) to remove does not exists, remove() will raise an error**

In [11]:
my_set = {'apple','mango','banana','cherry'}

my_set.remove('watermelon')

print(my_set)

KeyError: 'watermelon'

In [15]:
my_set = {'apple','mango','banana','cherry'}

new_set = my_set.remove('watermelon')

print(new_set)

print(my_set)

KeyError: 'watermelon'

In [16]:
my_set = {'apple','mango','banana','cherry'}

new_set = my_set.remove('banana')

print(new_set)

print(my_set)

None
{'cherry', 'mango', 'apple'}

### 2. Discard (discard() method)

In [12]:
my_set = {'apple','mango','banana','cherry'}

my_set.discard('mango')
print(my_set)

{'cherry', 'banana', 'apple'}

**Note : If the elements(items) does not exist in set, discard() method will not raise an error**

In [13]:
my_set = {'apple','mango','banana','cherry'}

my_set.discard('watermelon')

print(my_set)

{'cherry', 'mango', 'banana', 'apple'}

In [14]:
my_set = {'apple','mango','banana','cherry'}

new_set = my_set.discard('watermelon')

print(new_set)

print(my_set)

None
{'cherry', 'mango', 'banana', 'apple'}

### 3. Pop (pop() method)

1. You can also use the pop() method to remove elements from set.
2. But In set this method will random item, you cannot be sure what item that gets removed
3. In set return value of the pop() method is the removed elements

In [18]:
my_set = {'apple','mango','banana','cherry'}

new_set = my_set.pop()

print(new_set)

print(my_set)

cherry
{'mango', 'banana', 'apple'}

**Note : Sets are unordered so when we using the pop() method, you do not know which elements are removed from set**

### 4. Clear (clear() method)

In [19]:
my_set = {'apple','mango','banana','cherry'}

my_set.clear()

print(my_set)

set()

### 5. Delete (del keyword)

In [20]:
my_set = {'apple','mango','banana','cherry'}

del my_set

print(my_set)

NameError: name 'my_set' is not defined

### Python - Join Two sets

1. There are diffrent ways to join two or more sets in Python
2. You can use the union() method join two sets
3. Union method return a new set containing all items from both sets [my_set_1 and my_set_2] 
4. In sets use update() method that inserts all the elements from one set to another set

### 1. Union (union() method)

In [21]:
my_set_1 = {'apple','mango','banana','cherry'}
my_set_2 = {'watermelon','grapes'}

my_set_3 = my_set_1.union(my_set_2)

print(my_set_3)

{'cherry', 'grapes', 'banana', 'watermelon', 'mango', 'apple'}

In [22]:
my_set_1 = {'apple','mango','banana','cherry'}
my_set_2 = {'watermelon','grapes'}

my_set_1.union(my_set_2)

print(my_set_1)

{'cherry', 'mango', 'banana', 'apple'}

In [23]:
my_set_1 = {'apple','mango','banana','cherry'}
my_set_2 = {'watermelon','grapes'}

my_set_1.union(my_set_2)

print(my_set_2)

{'watermelon', 'grapes'}

### 1. Update (update() method)

In [24]:
my_set_1 = {'apple','mango','banana','cherry'}
my_set_2 = {'watermelon','grapes'}

my_set_1.update(my_set_2)

print(my_set_1)

{'cherry', 'grapes', 'banana', 'watermelon', 'mango', 'apple'}

In [25]:
my_set_1 = {'apple','mango','banana','cherry'}
my_set_2 = {'watermelon','grapes'}

my_set_3 = my_set_1.update(my_set_2)

print(my_set_3)

None

In [26]:
my_set_1 = {'apple','mango','banana','cherry','watermelon'}
my_set_2 = {'watermelon','grapes','apple'}

my_set_1.update(my_set_2)

print(my_set_1)

{'cherry', 'grapes', 'banana', 'watermelon', 'mango', 'apple'}

**Note : Both union() and update() method will exclude any duplicate values**