# Arbitrary Keyword Arguments - **kwargs

1. If you do not know how many arguments that will be passed into your function.
2. add two asterisk: ** before the parameter name in the function definition

In [1]:
def my_function(**student):
    print("Student first name is "+student['first_name'])
    
my_function(first_name = "Shyam", last_name = "Ambilkar")

Student first name is Shyam

In [2]:
def my_function(**student):
    print("Student first name is "+student['first_name'])
    
my_function(first_name = "Shyam",last_name = "Ambilkar")

KeyError: 'first_name'

In [3]:
def my_function(**student):
    print("Student first name is "+student['first_name'])
    
my_function(first_name = "Shyam",last_name = "Ambilkar")
my_function(first_name = "Rahul", last_name = "Sharma")

Student first name is Shyam
Student first name is Rahul

In [4]:
def my_function(*student):
    print("Student first name is "+student['first_name'])
    
my_function(first_name = "Shyam",last_name = "Ambilkar")
my_function(first_name = "Rahul", last_name = "Sharma")

TypeError: my_function() got an unexpected keyword argument 'first_name'

In [5]:
def my_function(**student):
    print("Student first name is "+student['first_name'])
    
my_function(first_name = "Shyam",last_name = "Ambilkar")
my_function(first_name = "Rahul", last_name = "Sharma")

Student first name is Shyam
Student first name is Rahul

# Default Parameter Value

In [6]:
def my_function(country = "India"):
    print("I am from :", country)
    
my_function('Maharashtra')

I am from : Maharashtra

In [7]:
def my_function(country = "India"):
    print("I am from :", country)
    
my_function('Maharashtra')
my_function()

I am from : Maharashtra
I am from : India

# Passing List as an Arguments

1. You can send any types of arguments to a function (string, number, list,dictionary, etc.) 
2. and it will treated as the same data type inside the function
3. If you send list as an arguments, it will still be list when it is reaches the function

In [8]:
def my_function(fruits):
    for i in fruits:
        print(i)
        
my_fruits = ['apple','mango','cherry','watermelon']

my_function(my_fruits)

apple
mango
cherry
watermelon

In [9]:
def my_function(first_name):
    for i in first_name:
        print(i)
        
stud_list = ['shyam','ambika','tushar','akash','pranali','vishal']

my_function()

TypeError: my_function() missing 1 required positional argument: 'first_name'

In [10]:
def my_function(first_name):
    for i in first_name:
        print(i)
        
stud_list = ['shyam','ambika','tushar','akash','pranali','vishal']

my_function(stud_list)

shyam
ambika
tushar
akash
pranali
vishal

# Return Values

In [11]:
def my_function(x):
    return 10 * x

my_function(10)

100

In [12]:
def my_function(x):
    return 10 + x

my_function(10)

20

In [13]:
def addNumbers(x,y):
    return x + y

addNumbers(10,20)

30

In [14]:
def my_function():
    pass

### Write a Program to devloped Calculator

In [19]:
def add(x ,y):
    return x + y

def subtract(x ,y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y

print("Select Operation.")
print("1. Add")
print("2. Subtract")
print("3. Multiply")
print("4. Divide")

while True:
    # Take input from the user
    choice = input("Enter a Choice(1/2/3/4): ")
    
    # Check if choice is one of the four options
    if choice in ('1','2','3','4'):
        try:
            my_num_1 = float(input("Enter First Number: "))
            my_num_2 = float(input("Enter Second Number: "))
        except ValueError:
            print("Invalid input, Please enter a valid Number")
            continue
            
    if choice == '1':
        print(my_num_1, " + ", my_num_2, " = ", add(my_num_1, my_num_2))
        
    elif choice == '2':
        print(my_num_1, " - ", my_num_2, " = ", subtract(my_num_1, my_num_2))
        
    elif choice == '3':
        print(my_num_1, " * ", my_num_2, " = ", multiply(my_num_1, my_num_2))
    
    elif choice == '4':
        print(my_num_1, " / ", my_num_2, " = ", divide(my_num_1, my_num_2))
        
    next_calculation = input("Lets do the next calculation? (Yes/No): ")
    if next_calculation == "No":
        break
else:
    print("Invalid Input")

Select Operation.
1. Add
2. Subtract
3. Multiply
4. Divide
Enter a Choice(1/2/3/4): 2
Enter First Number: 100
Enter Second Number: 100
100.0  -  100.0  =  0.0
Lets do the next calculation? (Yes/No): Yes
Enter a Choice(1/2/3/4): 4
Enter First Number: 40
Enter Second Number: 40
40.0  /  40.0  =  1.0
Lets do the next calculation? (Yes/No): no
Enter a Choice(1/2/3/4): 4
Enter First Number: 50
Enter Second Number: 50
50.0  /  50.0  =  1.0
Lets do the next calculation? (Yes/No): No