## Python - Two Sets

In [1]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon'}
my_set_2 = {45.23, 78.20, 25.23}

my_set_3 = my_set_1.union(my_set_2)
print(my_set_3)

{'cherry', 10, 45, 45.23, 78.2, 'apple', 25.23, 'watermelon', 62, 'mango'}

In [2]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon'}
my_set_2 = {45.23, 78.20, 25.23}

my_set_3 = my_set_1.update(my_set_2)
print(my_set_3)

None

In [3]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon'}
my_set_2 = {45.23, 78.20, 25.23}

my_set_1.update(my_set_2)
print(my_set_1)

{'cherry', 10, 45, 45.23, 78.2, 'apple', 25.23, 'watermelon', 62, 'mango'}

In [5]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon'}
my_set_2 = {45.23, 78.20, 25.23}

my_set_2.update(my_set_1)
print(my_set_2)

{'cherry', 10, 45.23, 78.2, 45, 'apple', 25.23, 'watermelon', 62, 'mango'}

In [6]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon'}
my_set_2 = {45.23, 78.20, 25.23,'apple','mango'}

my_set_2.update(my_set_1)
print(my_set_2)

{'cherry', 10, 45.23, 78.2, 45, 'apple', 25.23, 'watermelon', 62, 'mango'}

**Note : Both union() and update() will exclude any duplicate item**

## Keep ONly The Duplicate:
    1. The intersection_upate() method will keep only duplicate elements from set that are present in the current both sets.

In [7]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon'}
my_set_2 = {45.23, 78.20, 25.23,'apple','mango'}

my_set_1.intersection_update(my_set_2)
print(my_set_1)

{'apple', 'mango'}

In [9]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon'}
my_set_2 = {45.23, 78.20, 25.23,'apple','mango'}

my_set_3 = my_set_1.intersection_update(my_set_2)
print(my_set_3)

None

In [11]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon'}
my_set_2 = {45.23, 78.20, 25.23,'apple','mango'}

my_set_2.intersection_update(my_set_1)
print(my_set_2)

{'apple', 'mango'}

**In a set intersection() method will return a new set, that only contains duplicate elements from both sets**

In [10]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon'}
my_set_2 = {45.23, 78.20, 25.23,'apple','mango'}

my_set_3 = my_set_1.intersection(my_set_2)
print(my_set_3)

{'apple', 'mango'}

### Keep all, but not duplicate elements:
    1. The symmetric_difference_update() method will keep only the elements that are NOT present in both sets

In [12]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon'}
my_set_2 = {45.23, 78.20, 25.23,'apple','mango'}

my_set_1.symmetric_difference_update(my_set_2)
print(my_set_1)

{'cherry', 10, 78.2, 25.23, 45.23, 45, 'watermelon', 62}

In [14]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon'}
my_set_2 = {45.23, 78.20, 25.23,'apple','mango'}

my_set_3 = my_set_1.symmetric_difference_update(my_set_2)
print(my_set_3)

None

In [13]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon'}
my_set_2 = {45.23, 78.20, 25.23,'apple','mango'}

my_set_3 = my_set_1.symmetric_difference(my_set_2)
print(my_set_3)

{'cherry', 10, 78.2, 25.23, 45, 45.23, 'watermelon', 62}

In [15]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon',True}
my_set_2 = {45.23, 78.20, 25.23,'apple','mango', 1}

my_set_3 = my_set_1.symmetric_difference(my_set_2)
print(my_set_3)

{'cherry', 10, 78.2, 25.23, 45, 45.23, 'watermelon', 62}

In [16]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon',False}
my_set_2 = {45.23, 78.20, 25.23,'apple','mango', 1}

my_set_3 = my_set_1.symmetric_difference(my_set_2)
print(my_set_3)

{False, 1, 'cherry', 10, 78.2, 25.23, 45.23, 45, 'watermelon', 62}

In [17]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon',False}
my_set_2 = {45.23, 78.20, 25.23,'apple','mango', 0}

my_set_3 = my_set_1.symmetric_difference(my_set_2)
print(my_set_3)

{'cherry', 10, 78.2, 25.23, 45, 45.23, 'watermelon', 62}

**Note : The value True and 1 are considered the same value in sets, and are treated as duplicate value**

## 1. isdisjoint() method:
    1. Return True if No elements(items) in set (my_set_1) is present in (my_set_2)
    2. The isdisjoint() method return True if none of the same elements are present in both sets, otherwise it will return False

In [18]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon',False}
my_set_2 = {45.23, 78.20, 25.23,'apple','mango', 0}

my_set_3 = my_set_1.isdisjoint(my_set_2)
print(my_set_3)

False

In [19]:
my_set_1 = {'apple','mango','cherry',10,62,45,'watermelon',False}
my_set_2 = {45.23, 78.20, 25.23}

my_set_3 = my_set_1.isdisjoint(my_set_2)
print(my_set_3)

True

In [21]:
my_set_1 = {'apple','mango','cherry'}
my_set_2 = {'watermelon','banana'}

my_set_3 = my_set_1.isdisjoint(my_set_2)
print(my_set_3)

True

In [22]:
my_set_1 = {'apple','mango','cherry'}
my_set_2 = {'watermelon','banana','apple'}

my_set_3 = my_set_1.isdisjoint(my_set_2)
print(my_set_3)

False

## 2. issubset() Method

1. Return True if all items are set 1 are present in set 2

In [23]:
my_set_1 = {'apple','mango','cherry'}
my_set_2 = {'watermelon','banana','apple'}

my_set_3 = my_set_1.issubset(my_set_2)
print(my_set_3)

False

In [25]:
my_set_1 = {'apple','mango','cherry'}
my_set_2 = {'apple','mango','cherry','banana'}

my_set_3 = my_set_1.issubset(my_set_2)
print(my_set_3)

True

In [26]:
my_set_1 = {'apple','mango','cherry','banana'}
my_set_2 = {'apple','mango','cherry'}

my_set_3 = my_set_1.issubset(my_set_2)
print(my_set_3)

False

## 3. Superset() Method

1. Return True if all elements of my_set_2 are present in my_set_1

In [27]:
my_set_1 = {'apple','mango','cherry','banana'}
my_set_2 = {'apple','mango','cherry'}

my_set_3 = my_set_1.issuperset(my_set_2)
print(my_set_3)

True

In [28]:
my_set_1 = {'apple','mango','cherry'}
my_set_2 = {'apple','mango','cherry','banana'}

my_set_3 = my_set_1.issuperset(my_set_2)
print(my_set_3)

False

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [35]:
for i in range(0, 5):
    for j in range(0, 5):
        print(i, end=" ")
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4