# Variables

1. Variable contain something
2. A Variable can have short name or Descriptive name [age, high, carname, etc.]
3. Example:
    1. x = 'Shyam' [String]
    2. y = 100 [Integer]
    3. z = 100.45 [float]

1. Rules for Creating Python Variables:
    1. Always start with later[a-zA-Z] or underscore character [_]
    2. Variable contain alphanumeric value character and underscorre [a-z,A-Z,0-9,_]
    3. Variable name always case sensitive [age, Age, AGE, etc.]
    4. Variable name not start with any Numbers

In [7]:
x = 10
y = 20
print(x)

10

In [3]:
x = Shyam Ambilkar

SyntaxError: invalid syntax (2705564865.py, line 1)

In [4]:
x = "Shyam Ambilkar"
y = 'Shyam Ambilkar'

In [5]:
print(x)

Shyam Ambilkar

In [6]:
print(y)

Shyam Ambilkar

In [8]:
my_name = 20

In [9]:
print(my_name)

20

In [10]:
my-name = 20

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (3683109980.py, line 1)

In [11]:
_myName = 45.23

In [12]:
print(_myName)

45.23

In [13]:
2_myName = 45.23

SyntaxError: invalid decimal literal (346148512.py, line 1)

In [16]:
_myName_1 = 78.23
my_Name_1 = 78

In [17]:
age = 80
Age = 40
AGE = 90

In [18]:
print(age)

80

In [19]:
print(Age)

40

In [20]:
print(AGE)

90

### There are two types of Variables:
    1. Local Variable
    2. Global Variable

### 1. Global Variable

In [21]:
x = "Awesome" #Global Variable

def myFunct():
    print("Python & Data Science is " + x)
myFunct()

Python & Data Science is Awesome

### 2. Local Variable

In [23]:
x = "Awesome" #Global Variable

def myFunct():
    x = "Fantastic" # Local Variable
    print("Python & Data Science is " + x)
myFunct()


print("Python & Data Science is " + x)

Python & Data Science is Fantastic
Python & Data Science is Awesome

In [26]:
def myFunct():
    y = "Fantastic" # Local Variable
    print("Python & Data Science is " + y)
myFunct()

print("Python & Data Science is " + y)

Python & Data Science is Fantastic

TypeError: can only concatenate str (not "int") to str

In [27]:
def myFunct():
    global y
    y = "Fantastic" # Local Variable
    print("Python & Data Science is " + y)
myFunct()

print("Python & Data Science is " + y)

Python & Data Science is Fantastic
Python & Data Science is Fantastic

## Many Values to Multiple Variables

In [28]:
x, y, z = "Apple"

ValueError: too many values to unpack (expected 3)

In [29]:
x = y = z = "Apple"

In [30]:
print(x)
print(y)
print(z)

Apple
Apple
Apple

In [31]:
x = y = z = "Apple", "Mango","Orange"

In [32]:
print(x)
print(y)
print(z)

('Apple', 'Mango', 'Orange')
('Apple', 'Mango', 'Orange')
('Apple', 'Mango', 'Orange')

In [33]:
x, y, z = "Apple", "Mango","Orange"

In [34]:
print(x)
print(y)
print(z)

Apple
Mango
Orange

In [35]:
Fruits = ['Apple', 'Mango', 'Orange','Cherry']

a, b, c, d = Fruits

In [36]:
print(a)
print(b)
print(c)
print(d)

Apple
Mango
Orange
Cherry

## Output Variable:

1. print()
2. To combine both text and variables python use + character

In [43]:
x = "Apple"
y = 'Mango'

print("My fruit name is " + x,"and", y)
print("My fruit name is " + x + " and " + y)
print("My fruit name is " + y)

My fruit name is Apple and Mango
My fruit name is Apple and Mango
My fruit name is Mango

In [44]:
x = "Apple"
y = 'Mango'

z = x + y
print(z)

AppleMango

In [45]:
x = 100
y = 200

z = x + y
print(z)

300

In [46]:
x = 100
y = 'Mango'

z = x + y
print(z)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [47]:
x = 100
y = 200

z = x * y
print(z)

20000