# Pandas Series

1. A Pandas Series is like a column in a table
2. It is a one dimensional array holding data of any type.

In [1]:
import pandas as pd

my_lst = [10,20,30,40,50]

my_series = pd.Series(my_lst)
print(my_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
print(type(my_series))

<class 'pandas.core.series.Series'>

## Labels

1. If nothing else is specified, the value are labelled with their index number. 
2. First value has index 0, second value has index 1 etc.
3. The label can be used to access a specified values
4. With index argument, you can name your own labels

In [3]:
print(my_series[0])

10

In [4]:
my_series[:3]

0    10
1    20
2    30
dtype: int64

In [5]:
my_series[::2]

0    10
2    30
4    50
dtype: int64

In [6]:
import pandas as pd

my_lst = [10,20,30,40,50]

my_series = pd.Series(my_lst,index=['A','B','C','D'])
print(my_series)

ValueError: Length of values (5) does not match length of index (4)

In [7]:
import pandas as pd

my_lst = [10,20,30,40,50]

my_series = pd.Series(my_lst,index=['A','B','C','D','E'])
print(my_series)

A    10
B    20
C    30
D    40
E    50
dtype: int64

In [8]:
my_series['D']

40

In [10]:
# my_series['d']

## Key and Object as Series

In [11]:
import pandas as pd

my_calories = {"day1":420, "day2":380, "day3":390, "day4":400}

my_series = pd.Series(my_calories)

print(my_series)

day1    420
day2    380
day3    390
day4    400
dtype: int64

**Note: The Key of the dictionary becomes the labels**

In [12]:
import pandas as pd

my_calories = {"day1":420, "day2":380, "day3":390, "day4":400, "day1":370}

my_series = pd.Series(my_calories)

print(my_series)

day1    370
day2    380
day3    390
day4    400
dtype: int64

In [13]:
import pandas as pd

my_calories = {"day1":420, "day2":380, "day3":390, "day4":400, "day1":370}

my_series = pd.Series(my_calories, index=['day1','day2'])

print(my_series)

day1    370
day2    380
dtype: int64

## DataFrames

1. Data sets in Pandas are usually multi-dimesionnal tables, called DataFrames
2. Series is like columns, a DataFrames is the whole tables
3. Pandas Dataframe is 2 Dimensional data structure like 2 dimensional array, or table with rows and column

In [14]:
import pandas as pd

data = {
    "calories": [370,380,390,400,410],
    "duration": [50,45,55,60,40]
}

df = pd.DataFrame(data)
print(df)

   calories  duration
0       370        50
1       380        45
2       390        55
3       400        60
4       410        40

In [16]:
df['calories']

0    370
1    380
2    390
3    400
4    410
Name: calories, dtype: int64

In [17]:
df['calories'][0]

370

In [18]:
df['calories'][::2]

0    370
2    390
4    410
Name: calories, dtype: int64

In [19]:
df['duration'][0]

50

In [20]:
df['duration']

0    50
1    45
2    55
3    60
4    40
Name: duration, dtype: int64

In [22]:
print(df.loc[0])

calories    370
duration     50
Name: 0, dtype: int64

In [23]:
print(df.loc[0:2])

   calories  duration
0       370        50
1       380        45
2       390        55

In [26]:
print(df.loc[[0,2]])

   calories  duration
0       370        50
2       390        55

In [27]:
print(df)

   calories  duration
0       370        50
1       380        45
2       390        55
3       400        60
4       410        40

In [28]:
print(df.loc[[3,4]])

   calories  duration
3       400        60
4       410        40

In [29]:
print(df.loc[[3,]])

   calories  duration
3       400        60

In [30]:
import pandas as pd

data = {
    "calories": [370,380,390,400,410],
    "duration": [50,45,55,60,40],
    "year":[24,25,26,27,28]
}

df = pd.DataFrame(data)
print(df)

   calories  duration  year
0       370        50    24
1       380        45    25
2       390        55    26
3       400        60    27
4       410        40    28

In [34]:
print(df.loc[[4,]])

   calories  duration  year
4       410        40    28

## Load File Into a DataFrame

In [35]:
import pandas as pd

df = pd.read_csv('Iris.csv')

In [37]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [38]:
df.tail()

      Id  SepalLengthCm  ...  PetalWidthCm         Species
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[5 rows x 6 columns]

In [39]:
df.head(15)

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa