# Python - Update Tuples

1. Tuples are unchangeble, that means we cannot change, add, insert or remove tuple
2. there are some workarouds

## Change Tuples Values

1. Once tuple is created you cannot change its value, Tuple are **unchangeble** or it is also called as **immutable**
2. But in tuple there is some workaround, you can convert tuple into list, change list and convert the list into tuple

In [2]:
my_tuple = ("apple","mango",'cherry','orange','watermelon')
print(my_tuple)
print(type(my_tuple))

('apple', 'mango', 'cherry', 'orange', 'watermelon')
<class 'tuple'>

In [3]:
my_tuple = ("apple","mango",'cherry','orange','watermelon')

my_tuple[1] = "Grapes"
print(my_tuple)

TypeError: 'tuple' object does not support item assignment

In [4]:
my_tuple = ("apple","mango",'cherry','orange','watermelon')

# Convert tuple into a list
my_list = list(my_tuple)

my_list[1] = "Grapes"

# Convert list into tuple
my_tuple = tuple(my_list)
print(my_tuple)

('apple', 'Grapes', 'cherry', 'orange', 'watermelon')

## Add Elements

In [5]:
my_tuple = ("apple","mango",'cherry','orange','watermelon')

my_list = list(my_tuple)

my_list.append("orange")

my_tuple = tuple(my_list)
print(my_tuple)

('apple', 'mango', 'cherry', 'orange', 'watermelon', 'orange')

In [6]:
my_tuple = ("apple","mango",'cherry','orange','watermelon')

my_list = list(my_tuple)

my_list.insert(1,"banana")

my_tuple = tuple(my_list)
print(my_tuple)

('apple', 'banana', 'mango', 'cherry', 'orange', 'watermelon')

In [7]:
my_tuple_1 = ("apple","mango",'cherry','orange','watermelon')
my_tuple_2 = ("Grapes",'banana','blackcurrent','mango')

my_list_1 = list(my_tuple_1)
my_list_2 = list(my_tuple_2)

my_list_1.extend(my_list_2)

my_tuple_1 = tuple(my_list_1)
print(my_tuple_1)

('apple', 'mango', 'cherry', 'orange', 'watermelon', 'Grapes', 'banana', 'blackcurrent', 'mango')

## Remove Items

In [8]:
my_tuple_1 = ("apple","mango",'cherry','orange','watermelon')

my_list_1 = list(my_tuple_1)

my_list_1.pop()

my_tuple_1 = tuple(my_list_1)
print(my_tuple_1)

('apple', 'mango', 'cherry', 'orange')

In [9]:
my_tuple_1 = ("apple","mango",'cherry','orange','watermelon')

my_list_1 = list(my_tuple_1)

my_list_1.remove("orange")

my_tuple_1 = tuple(my_list_1)
print(my_tuple_1)

('apple', 'mango', 'cherry', 'watermelon')

In [10]:
my_tuple_1 = ("apple","mango",'cherry','orange','watermelon')

del my_tuple_1

print(my_tuple_1)

NameError: name 'my_tuple_1' is not defined

# Unpacking Tuples

In [14]:
my_color = ("apple","mango",'cherry','orange','watermelon')

(red, yellow, darkred, white, green) = my_color

print(green)

watermelon

**Note : The number of variable must match the number of values in the tuples, if not you must * astrisk to collect remaining  values in list**

In [15]:
my_color = ("apple","mango",'cherry','orange','watermelon')

(red, yellow, *white) = my_color

print(red)
print(yellow)
print(white)

apple
mango
['cherry', 'orange', 'watermelon']

In [16]:
my_color = ("apple","mango",'cherry','orange','watermelon')

(red, *yellow, white) = my_color

print(red)
print(yellow)
print(white)

apple
['mango', 'cherry', 'orange']
watermelon

## Tuples - Using Loop

In [17]:
my_tuple_1 = ("apple","mango",'cherry','orange','watermelon')

for i in my_tuple_1:
    print(i)

apple
mango
cherry
orange
watermelon

In [18]:
my_tuple_1 = ("apple","mango",'cherry','orange','watermelon')

for i in my_tuple_1:
    print(my_tuple_1)

('apple', 'mango', 'cherry', 'orange', 'watermelon')
('apple', 'mango', 'cherry', 'orange', 'watermelon')
('apple', 'mango', 'cherry', 'orange', 'watermelon')
('apple', 'mango', 'cherry', 'orange', 'watermelon')
('apple', 'mango', 'cherry', 'orange', 'watermelon')

In [19]:
my_tuple_1 = ("apple","mango",'cherry','orange','watermelon')

for i in range(len(my_tuple_1)):
    print(my_tuple_1[i])

apple
mango
cherry
orange
watermelon

In [20]:
my_tuple_1 = ("apple","mango",'cherry','orange','watermelon')

for i in range(len(my_tuple_1)):
    print(i)

0
1
2
3
4

## Join Tuples

In [21]:
my_tuple_1 = ("apple","mango",'cherry','orange','watermelon')
my_tuple_2 = ("Grapes",'banana','blackcurrent','mango')

my_tuple_1 = my_tuple_1 + my_tuple_2
print(my_tuple_1)

('apple', 'mango', 'cherry', 'orange', 'watermelon', 'Grapes', 'banana', 'blackcurrent', 'mango')

In [22]:
my_tuple_1 = ("apple","mango",'cherry','orange','watermelon')
my_tuple_2 = my_tuple_1 * 2

print(my_tuple_2)

('apple', 'mango', 'cherry', 'orange', 'watermelon', 'apple', 'mango', 'cherry', 'orange', 'watermelon')

In [23]:
my_tuple_1 = ("apple","mango",'cherry','orange','watermelon')
my_tuple_2 = my_tuple_1 * 4

print(my_tuple_2)

('apple', 'mango', 'cherry', 'orange', 'watermelon', 'apple', 'mango', 'cherry', 'orange', 'watermelon', 'apple', 'mango', 'cherry', 'orange', 'watermelon', 'apple', 'mango', 'cherry', 'orange', 'watermelon')

## Count Tuple Elements

In [24]:
my_tuple_1 = ('apple', 'mango', 'cherry', 'orange', 'watermelon', 'apple', 'mango', 'cherry', 'orange', 'watermelon', 'apple', 'mango', 'cherry', 'orange', 'watermelon', 'apple', 'mango', 'cherry', 'orange', 'watermelon')

In [25]:
result = my_tuple_1.count('apple')
print(result)

4

In [26]:
result = my_tuple_1.index('apple')
print(result)

0