# Machine Learning

# Dataset

#### 1. It can be anything from an array to a computer database
#### 2. Example

In [1]:
my_array = [98,45,36,25,14,45,65,75]

#### Example of Database

In [2]:
import pandas as pd
my_dict = {
    'carname': ['BMW','VOLVO','Ford','Tesla','Tata','Toyato','Hundai'],
    'color':['Red','Blue','Green','orange','white','yellow','black'],
    'age':[5,7,8,7,2,17,6],
    'speed':[99,88,87,88,110,100,90],
    'AutoPass':['y','y','n','n','n','y','y']
}

In [3]:
df = pd.DataFrame(my_dict)

In [4]:
df

  carname   color  age  speed AutoPass
0     BMW     Red    5     99        y
1   VOLVO    Blue    7     88        y
2    Ford   Green    8     87        n
3   Tesla  orange    7     88        n
4    Tata   white    2    110        n
5  Toyato  yellow   17    100        y
6  Hundai   black    6     90        y

### Data Types

1. To analyze it is important to know that what type of data we are dealing with
2. We can split the data types into three categories:
    1. Numerical
    2. Categorical
    3. Ordinal

### 1. Numerical Data Types

1. Numerical data are numbers, and can be split into two numerical categories:
    1. Contineous:
        1. Measured data can be number
        2. Example:
            1. The numbers of car passing by
    2. Descrete:
        1. counted data that arr limited to integer
        1. The price of of an item or the size of an item

### 2. Categorical Data Types

1. Categorical data are values that cannot be measured up against each other
2. Example:
    1. color value, or any yes/no values

### 3. Ordinal Data Types

1. Ordinal data are also categorical data, but that catgories measured up against each other
2. Example:
    1. School grades where A is better than B and so on

In [5]:
df.to_csv('data.csv')

In [6]:
df_1 = pd.read_csv('data.csv')

In [7]:
df_1.head()

   Unnamed: 0 carname   color  age  speed AutoPass
0           0     BMW     Red    5     99        y
1           1   VOLVO    Blue    7     88        y
2           2    Ford   Green    8     87        n
3           3   Tesla  orange    7     88        n
4           4    Tata   white    2    110        n

# 1. Imputation Technique

1. There are three diffrent types of Imputation Techniques:
    1. Mean [Average Value]
    2. Mode [Most Frequent Value]
    3. Median [Center Value]

### Example:
    1. We have registered the speed of 13 cars
    2. speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]
    3. What is the average, middle or most frequent [common] speed value ?

# 1. Mean

1. The mean value is average value
2. To calculate mean, find the sum of all values, and devide the sum by the numbers of value

In [8]:
speed = 99 + 86 + 87 + 88 + 111 + 86 + 103 + 87 + 94 + 78 + 77 + 85 + 86
average_value = speed / 13
print(average_value)

89.76923076923077

In [9]:
import numpy as np

speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]
average_value = np.mean(speed)
print(average_value)

89.76923076923077

# 2. Median

1. The median value is the value of middile
2. Before selecting a middle value make sure all the elements should be in sorted order
3. It is important that the numbers are sorted before you can find the middle value or Median value

In [10]:
speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]

sorted_ele = [77, 78, 85, 86, 86, 86, 87, 87, 88, 94, 99, 103, 111]

In [14]:
import numpy as np

speed = [99,86,87,88,111,86,103,87,94,78,77,85,86]

median_value = np.median(speed)
print(median_value)

87.0

#### 1. If there are two numbers in the middle:
    1. Devide the sum of those number and devide by numbers two

In [16]:
sorted_ele = [77, 78, 85, 86, 86, 86, 87, 87, 88, 94, 99, 103]

In [19]:
median_value = 86 + 87 
print(median_value)

median_value / 2

173

86.5

In [20]:
speed = [99,86,87,88,86,103,87,94,78,77,85,86]

median_value = np.median(speed)
print(median_value)

86.5

## 3. Mode [ Most Frequnt Value]

In [21]:
speed = [77, 78, 85, 86, 86, 86, 87, 87, 88, 94, 99, 103, 111]

In [25]:
from scipy import stats

speed = [77, 78, 85, 86, 86, 86, 87, 87, 88, 94, 99, 103, 111]

most_frequent_value = stats.mode(speed)
print(most_frequent_value)

ModeResult(mode=86, count=3)

In [27]:
from scipy import stats

speed = [94,77, 78, 85, 86,94,86, 86, 87, 87, 88, 94, 99, 103, 111,94]

most_frequent_value = stats.mode(speed)
print(most_frequent_value)

ModeResult(mode=94, count=4)

In [29]:
df_1.describe()

       Unnamed: 0        age       speed
count    7.000000   7.000000    7.000000
mean     3.000000   7.428571   94.571429
std      2.160247   4.649629    8.676734
min      0.000000   2.000000   87.000000
25%      1.500000   5.500000   88.000000
50%      3.000000   7.000000   90.000000
75%      4.500000   7.500000   99.500000
max      6.000000  17.000000  110.000000

In [30]:
df= pd.read_csv('C:/Users/shyam/Downloads/Iris.csv')

In [31]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [32]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000