In [1]:
my_list = ['apple','mango','cherry','pinapple','watermelon','banana']

for i in my_list:
    print(i)

apple
mango
cherry
pinapple
watermelon
banana

## 1. Break Statement:
    1. With the break statement we can stop the loop before it has looped it has looped throgh all the items

In [3]:
my_list = ['apple','mango','cherry','pinapple','watermelon','banana']

for i in my_list:
    print(i)
    if i == 'cherry':
        break

apple
mango
cherry

In [6]:
my_list = ['apple','mango','cherry','pinapple','watermelon','banana']

for i in my_list:
    if i == 'watermelon':
        break
    print(i)

apple
mango
cherry
pinapple

In [7]:
my_list = ['apple','mango','cherry','pinapple','watermelon','banana']

for i in my_list:
    print(i)
    if i == 'watermelon':
        break

apple
mango
cherry
pinapple
watermelon

In [9]:
my_list = ['apple','mango','cherry','pinapple','watermelon','banana', 10,45,63.42,'blueberry',86,45]

for i in my_list:
    print(i)
    if i == 10:
        break

apple
mango
cherry
pinapple
watermelon
banana
10

## 2. Continue Statement

1. With the Continue statement we can stop the current itration of the loop and continue with the next

In [10]:
my_list = ['apple','mango','cherry','pinapple','watermelon','banana', 10,45,63.42,'blueberry',86,45]

for i in my_list:
    if i == 45:
        continue
    print(i)

apple
mango
cherry
pinapple
watermelon
banana
10
63.42
blueberry
86

In [11]:
my_list = ['apple','mango','cherry','pinapple','watermelon','banana', 10,45,63.42,'blueberry',86,45]

for i in my_list:
    print(i)
    if i == 45:
        continue

apple
mango
cherry
pinapple
watermelon
banana
10
45
63.42
blueberry
86
45

## 3. Pass Statement

In [14]:
my_list = ['apple','mango','cherry','pinapple','watermelon','banana', 10,45,63.42,'blueberry',86,45]

for i in my_list:
    if i == 'banana':

SyntaxError: incomplete input (2773768459.py, line 5)

In [15]:
my_list = ['apple','mango','cherry','pinapple','watermelon','banana', 10,45,63.42,'blueberry',86,45]

for i in my_list:
    if i == 'banana':
        pass

## 4. Range Function

1. The range() function returns a sequence of numbers, starting from 0(by default), increment by 1(by default) and  ends at specific number.
2. Note that range(6) is not the values of 0 to 6, but the values 0 to 5
3. The range() function defaults to 0 as starting value, However it is possible to specify the starting value by adding a parameter (for Example - range(2, 6)), which means values from 2 to 6 (but not including 6).
4. The range() function defaults to increments the sequence by 1, however it it possible specify the increment value by adding a third parameter [for example- range(1,10,2)]

In [16]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [19]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [20]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [21]:
for i in range(2,6):
    print(i)

2
3
4
5

In [23]:
for i in range(1, 21, 2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [24]:
for i in range(2, 21, 2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [29]:
for i in range(2, 9,3):
    print(i)

2
5
8