## Else in For Loop

1. The else Keyword in  a for loop specifies a block of code to be executed when the loop a finished.

**Note: The else block will not executed if the loop is stopped by a break statement**

In [1]:
for i in range(10):
    print(i)
else:
    print("Finally Finished..!")

0
1
2
3
4
5
6
7
8
9
Finally Finished..!

In [2]:
for i in range(6):
    if i == 4:
        break
    print(i)
else:
    print("Finally Finished..!")

0
1
2
3

# Nested Loop

In [4]:
my_list_1 = ['rahul','ambika','rohen','aakash','Tushar','Vishal','Shyam','Bhushan']
my_list_2 = ['good','very_good','average']

for x in my_list_1:
    for y in my_list_2:
        print(x, y)

rahul good
rahul very_good
rahul average
ambika good
ambika very_good
ambika average
rohen good
rohen very_good
rohen average
aakash good
aakash very_good
aakash average
Tushar good
Tushar very_good
Tushar average
Vishal good
Vishal very_good
Vishal average
Shyam good
Shyam very_good
Shyam average
Bhushan good
Bhushan very_good
Bhushan average

In [5]:
my_list_1 = ['rahul','ambika','rohen','aakash','Tushar','Vishal','Shyam','Bhushan']
my_list_2 = ['good','very_good','average']

for x in my_list_1:
    for y in my_list_2:
        print(x)

rahul
rahul
rahul
ambika
ambika
ambika
rohen
rohen
rohen
aakash
aakash
aakash
Tushar
Tushar
Tushar
Vishal
Vishal
Vishal
Shyam
Shyam
Shyam
Bhushan
Bhushan
Bhushan

In [8]:
my_list_1 = ['rahul','ambika','rohen','aakash','Tushar','Vishal','Shyam','Bhushan']
my_list_2 = ['good','very_good','average']

for x in my_list_1:
    for y in my_list_2:
        print(y)
print(x)

good
very_good
average
good
very_good
average
good
very_good
average
good
very_good
average
good
very_good
average
good
very_good
average
good
very_good
average
good
very_good
average
Bhushan

1 2 3 4 5
2 3 4 5 6
3 4 5 6 7
4 5 6 7 8 
5 6 7 8 9

In [11]:
n = int(input("Enter N Number: ")) 

for i in range(1, n + 1):
    for j in range(1, n + 1):
        print(str(i + j - 1)+ " ", end="")
    print()

Enter N Number: 4
1 2 3 4
2 3 4 5
3 4 5 6
4 5 6 7

i = 1, n = 6 [n = n[5] + 1]
j = 1, n = 6 [n = n[5] + 1]

i + j - 1
1 + 1 - 1 = 1
1 + 2 - 1 = 2
1 + 3 - 1 = 3
1 + 4 - 1 = 4
1 + 5 - 1 = 5

In [12]:
n = int(input("Enter N Number: ")) 

for i in range(1, n + 1):
    for j in range(1, n + 1):
        print(i + j - 1 + " ", end="")
    print()

Enter N Number: 5

TypeError: unsupported operand type(s) for +: 'int' and 'str'

1 0 1 0 1
0 0 0 0 0
1 0 1 0 1
0 0 0 0 0
1 0 1 0 1

In [13]:
n = int(input("Enter N Number: ")) 

for i in range(1, n + 1):
    for j in range(1, n + 1):
        print(str((i * j) % 2)+ " ", end="")
    print()

Enter N Number: 5
1 0 1 0 1
0 0 0 0 0
1 0 1 0 1
0 0 0 0 0
1 0 1 0 1

In [15]:
n = int(input("Enter N Number: ")) 

for i in range(1, n + 1):
    for j in range(0, n):
        print(str((i * j) % 2)+ " ", end="")
    print()

Enter N Number: 5
0 1 0 1 0
0 0 0 0 0
0 1 0 1 0
0 0 0 0 0
0 1 0 1 0

In [16]:
n = int(input("Enter N Number: ")) 

for i in range(1, n + 1):
    for j in range(0, n):
        print(str((i + j) % 2)+ " ", end="")
    print()

Enter N Number: 5
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1

0 0 0 0 0
1 1 1 1 1
0 0 0 0 0
1 1 1 1 1
0 0 0 0 0

# Calculator:
    1. Addition
    2. Subtraction
    3. Division
    4. Multiplication