# Web Scrapping

https://www.indiacustomercare.com/

In [7]:
from bs4 import BeautifulSoup
import requests
import re

In [2]:
url = "https://www.indiacustomercare.com/"

In [3]:
print(url)

https://www.indiacustomercare.com/

In [4]:
my_data = requests.get(url)
print(my_data)

<Response [200]>

In [5]:
extracted_data = BeautifulSoup(my_data.content,'html.parser')

In [76]:
# print(extracted_data)

In [8]:
my_text = re.sub("<.*?>"," ", str(extracted_data))

In [77]:
# print(my_text)

In [78]:
my_pattern = re.findall("[a-z0-9]{2,15}[@]{1}[a-z.]{3,10}",my_text)

In [63]:
print(my_pattern)

['raggupta@gmail.com']

In [74]:
my_website = re.findall("[www]{3}[.][a-z]{2,25}[.a-z]{4}",my_text)

In [75]:
my_website

['www.addthis.com']

In [81]:
url = "https://www.indiacom.com/pune/the-heritage-hotel_pune_pne_1168677.html"

my_data = requests.get(url)

In [82]:
my_text = BeautifulSoup(my_data.content,"html.parser")

In [88]:
extracted_data = re.sub("<.*?>"," ", str(my_text))
# print(extracted_data)

In [96]:
my_website = re.findall("[www]{3}[.][a-z]{2,25}[.a-z]{4}",extracted_data)
my_mail = re.findall("[a-z0-9]{2,15}[@]{1}[a-z.]{3,25}",extracted_data)

In [98]:
import pandas as pd

In [99]:
df = pd.DataFrame(my_website)

In [101]:
df.to_json("myfile.json")

In [102]:
df_1 = pd.read_json("myfile.json")

In [104]:
df_1.head()

                           0
0           www.indiacom.com
1           www.indiacom.com
10         www.indiaocom.com
11          www.indiacom.com
12  www.googletagmanager.com

In [107]:
df.to_csv("myfile.csv",index= False)

In [109]:
df_2 = pd.read_csv("myfile.csv")

In [111]:
df_2.head()

                  0
0  www.indiacom.com
1  www.indiacom.com
2  www.indiacom.com
3  www.indiacom.com
4  www.indiacom.com