# Modules

In [1]:
from datetime import date

In [2]:
today = date.today()
print("Todays date is: ",today)

Todays date is:  2024-04-08

In [3]:
print("Curent Year: ",today.year)
print("Curent Month: ",today.month)
print("Curent Day: ",today.day)

Curent Year:  2024
Curent Month:  4
Curent Day:  8

In [4]:
from datetime import datetime

date_time = datetime.fromtimestamp(1887639468)

print("Datetime from Timestamp: ",date_time)

Datetime from Timestamp:  2029-10-25 21:47:48

In [5]:
import calendar

In [7]:
year = 2024
month = 4
print(calendar.month(year, month))

     April 2024
Mo Tu We Th Fr Sa Su
 1  2  3  4  5  6  7
 8  9 10 11 12 13 14
15 16 17 18 19 20 21
22 23 24 25 26 27 28
29 30

In [10]:
year = int(input("Enter Year to Print Calender: "))
# month = input("Enter Month to Print Calender: ")

print("Calender of ",calendar.calendar(year))

Enter Year to Print Calender: 2023
Calender of                                    2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

In [17]:
from datetime import date

today = date.today()

# dd/mm/yy
date_1 = today.strftime("%d/%m/%Y")
print("date_1 =",date_1)

#Textual month, day and year
date_2 = today.strftime("%b %d, %Y")
print(date_2)

# mm/dd/y
date_3 = today.strftime("%m/%d/%y")
print(date_3)

# mm/dd/y
date_4 = today.strftime("%b-%d-%y")
print(date_4)

date_1 = 08/04/2024
Apr 08, 2024
04/08/24
Apr-08-24

# Math Module

In [18]:
import math

1. Python has a set of built-in functions, including an extensive math module
2. Math module allows you to perform mathematical tasks of numbers

In [19]:
x = min(10,45,1,63,75,15,70,100)
print(x)

1

In [20]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [21]:
y = max(10,45,1,63,75,15,70,100)
print(y)

100

In [23]:
z = abs(-45)
print(z)

45

In [24]:
z = math.factorial(5)
print(z)

120

In [27]:
x = math.pow(2,3)
print(x)

8.0

In [28]:
y = math.sqrt(64)
print(y)

8.0

In [29]:
x = math.pi
print(x)

3.141592653589793

In [30]:
import math

In [43]:
x = math.ceil(-1.171)
print(x)

-1

In [45]:
# help(math.asin)

In [46]:
x = math.cos(15)
print(x)

-0.7596879128588213

In [47]:
math.gamma(5)

24.0

In [48]:
math.sin(5)

-0.9589242746631385